:root {
        --ic-brand-primary-darkened-5: #132748;
--ic-brand-primary-darkened-10: #122544;
--ic-brand-primary-darkened-15: #112340;
--ic-brand-primary-lightened-5: #1E3354;
--ic-brand-primary-lightened-10: #2A3E5D;
--ic-brand-primary-lightened-15: #364966;
--ic-brand-button--primary-bgd-darkened-5: #132748;
--ic-brand-button--primary-bgd-darkened-15: #112340;
--ic-brand-button--secondary-bgd-darkened-5: #26333D;
--ic-brand-button--secondary-bgd-darkened-15: #222E37;
--ic-brand-font-color-dark-lightened-15: #47535C;
--ic-brand-font-color-dark-lightened-28: #636D75;
--ic-link-color-darkened-10: #A54604;
--ic-link-color-lightened-10: #BE5E1D;
--ic-brand-primary: #13294b;
--ic-brand-font-color-dark: #273540;
--ic-link-color: #B74D04;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #273540;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #13294b;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #13294b;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_145590000000000001/attachments/205109/block-i.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads.s3.amazonaws.com/account_145590000000000001/attachments/2684990/global_nav_block-i%20%20-%2048px.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 0.1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_145590000000000001/attachments/806/favicon-32x32.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_145590000000000001/attachments/812/android-icon-144x144.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_145590000000000001/attachments/813/Illinois-Logo-Reversed-Orange-RGB.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_145590000000000001/attachments/807/Illinois-Wordmark-Horizontal-Reversed-Orange-RGB.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_145590000000000001/attachments/1755468/University-Wordmark-Full-Color-RGB%20%2528002%2529.png');
--ic-brand-Login-body-bgd-color: #13294b;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #13294b;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_145590000000000001/attachments/808/Illinois-Wordmark-Horizontal-Reversed-Orange-RGB.png');
--ic-brand-Login-Content-bgd-color: #13294b;
--ic-brand-Login-Content-border-color: #13294b;
--ic-brand-Login-Content-inner-bgd: #13294b;
--ic-brand-Login-Content-inner-border: #13294b;
--ic-brand-Login-Content-inner-body-bgd: #13294b;
--ic-brand-Login-Content-inner-body-border: #13294b;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }